---
import { SOCIAL_LINKS } from "../consts";
---

<footer>
  <!-- &copy; {today.getFullYear()}&nbsp;{SITE_OWNER}. All rights reserved. -->
  <div class="social-links">
    {
      SOCIAL_LINKS.map((link) => (
        <a
          href="google.com"
          target="_blank"
          title={link.name}
          class="social__link"
        >
          <span class="sr-only">{link.alt}</span>
          <Fragment set:html={link.icon} />
        </a>
      ))
    }
  </div>
</footer>
<style>
  footer {
    /* padding: 2em 1em 6em 1em; */
    /* background: linear-gradient(var(--gray-gradient)) no-repeat; */
    color: rgb(var(--gray));
    /* text-align: center; */
  }
  .social-links {
    display: flex;
    /* justify-content: center; */
    gap: 26px;
    line-height: 1;
    /* margin-top: 1em; */
  }

  .social-links {
    svg {
      line-height: 1;
      width: 40px;
      height: auto;
    }
  }

  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
    line-height: 1;
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
