---
import { Image } from "astro:assets";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import ImageVideoSwitch from "./ImageVideoSwitch.astro";

// import { myFade } from "../components/interactions/transitions/fade";

const { image, id, video, noEvents } = Astro.props;
// console.log(image);
---

<div class="hero-image">
  <a href="/" class="hero__close">
    <!-- <LottieAnimation
      id="close-click"
      src="/assets/animations/icon_exit_click.json"
      autoplay={false}
      player="light"
      loop={false}
    /> -->
    <!-- <LottieAnimation
      id="close-hover-off"
      src="/assets/animations/icon_exit_hover-back.json"
      autoplay="visible"
      player="light"
    /> -->
    <LottieAnimation
      id="close-hover"
      src="/assets/animations/icon_exit_hover.json"
      autoplay={false}
      player="light"
      loop={false}
    />
  </a>
  {
    (
      <ImageVideoSwitch
        video={video}
        image={{ ...image, width: 1920, height: 1000, loading: "eager" }}
        noEvents={!video?.src}
      />
      // <Image
      //   alt={"no alt"}
      //   width={1920}
      //   height={480}
      //   loading="eager"
      //   {...image}
      //   class="hero-image__img"
      // />
      // transition:name={`img-${id}`}
    )
  }
</div>

<script>
  // import barba from "@barba/core";

  const init = () => {
    // console.log('init');
    const setupLottieAnimations = (astroLottie) => {
      const closeAnimation = astroLottie.getAnimation("close-hover");

      if (closeAnimation?.isLoaded) {
        closeAnimation.container.addEventListener("mouseenter", () => {
          closeAnimation.player.setDirection(1);
          closeAnimation.player.play();
        });

        closeAnimation.container.addEventListener("mouseleave", () => {
          closeAnimation.player.setDirection(-1);
          closeAnimation.player.play();
        });
      }
    };

    document.addEventListener("astro:page-load", () => {
      window.astroLottie && setupLottieAnimations(window.astroLottie);
    });

    document.addEventListener("astro-lottie-loaded", (e) => {
      setupLottieAnimations(e.detail);
    });
  };

  // init();

  // barba.hooks.afterEnter(() => {
  //   console.log("init");
  //   init();
  // });
</script>
